#main {
  margin: 30px auto;
  background-color: white;
  height: 960px;
  width: 960px;
  border: 2px solid black;

}
.pixels {
  display: inline-block;
  background-color: white;
  border: none;
}
form {
  margin: 20px 480px;
  display: inline-block;
}
